/* ==========================================================================
Footer
========================================================================== */
.footer {
  @extend .py-8, .py-lg-5;

  background-color: $theme-secondary;
  border-top: 5px solid $theme-primary;
  color: $white;

  a {
    @include transition();

    &:focus,
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }

  h6 {
    @extend .mb-0;

    @include font-size(18);

    font-weight: $font-weight-bold;
  }
}

/* ==========================================================================
Footer contact
========================================================================== */
.footer__contact {
  @extend .mb-0, .mt-2, .mx-0, .p-0;

  list-style: none;

  .contact__item {
    @extend .mt-1;

    line-height: 25px;
  }

  .contact__link {
    @extend .d-block;

    color: $white;
  }

  .svg-inline--fa {
    @extend .mr-1;
  }
}

/* ==========================================================================
Footer list
========================================================================== */
.footer__list {
  @extend .mb-0, .mt-md-2, .mx-0, .p-0;

  list-style: none;

  .list__item {
    @extend .mt-2, .mt-md-1;

    line-height: 25px;
  }

  .list__link {
    @extend .d-block;

    @include font-size(18);

    color: $white;
    font-weight: $font-weight-bold;

    &.active {
      font-weight: $font-weight-bold;
    }
  }
}

@include media-breakpoint-up(md) {
  .footer__list {
    .list__link {
      @include font-size(16);

      font-weight: $font-weight-normal;
    }
  }
}

/* ==========================================================================
Footer images
========================================================================== */
.footer__images {
  @extend .d-flex, .flex-wrap, .mx-n1;

  max-width: 260px;
}

/* ==========================================================================
Footer image
========================================================================== */
.footer__image {
  @extend .mt-2, .px-1;

  width: 50%;
}

/* ==========================================================================
Footer links
========================================================================== */
.footer__links {
  @extend .d-flex,
    .flex-wrap,
    .justify-content-center,
    .mb-0,
    .mt-5,
    .mt-xl-1,
    .mx-0,
    .p-0;

  list-style: none;

  .links__item {
    @extend .mr-2;

    line-height: 25px;
    position: relative;

    &::after {
      background-color: rgba($white, 0.45);
      content: "";
      height: 15px;
      position: absolute;
      right: -10px;
      top: 5px;
      width: 1px;
    }

    &:last-child {
      @extend .mr-0;

      &::after {
        @extend .d-none;
      }
    }
  }

  .links__link {
    @extend .d-block;

    color: rgba($white, 0.45);
  }
}
