/* ==========================================================================
Section
========================================================================== */
.section {
  @extend .py-6, .py-lg-10;
}

/* ==========================================================================
Section No Padding
========================================================================== */
.section--no-padding {
  padding: 0 !important;
}

/* ==========================================================================
Section Color (dark / light)
========================================================================== */
.section--mode-dark {
  background-color: $theme-secondary;
  color: $white;
}

.section--mode-light {
  background-color: $white;
  color: $body-color;
}
