/* ==========================================================================
Colors
========================================================================== */
$white: #fff;
$gray-100: #f2f2f2; // #f8f9fa
$gray-200: #e8ebf1; // #e9ecef
$gray-300: #dee2e6;
$gray-400: #ccccce; // #ced4da
$gray-500: #adb5bd;
$gray-600: #7f7f7f; // #6c757d
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #007bff;
$green: #28a745;
$cyan: #17a2b8;
$yellow: #ffde00;
$yellow-light: #ffeb00;
$red: #dc3545;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-primary: #213a7a;
$theme-primary-light: #294795;
$theme-secondary: #0f1223;
$theme-secondary-dark: #0062ff;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "theme-primary": $theme-primary,
    "theme-primary-light": $theme-primary-light,
    "theme-secondary": $theme-secondary,
    "theme-secondary-dark": $theme-secondary-dark,
    "yellow": $yellow,
    "yellow-light": $yellow-light,
    "white": $white,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-400": $gray-400,
    "gray-600": $gray-600,
  ),
  $theme-colors
);

/* ==========================================================================
Navbar - must be loaded first
========================================================================== */
$navbar-height-sm: 60px;
$navbar-height-lg: 70px;

/* ==========================================================================
Navbar Brand - must be loaded first
========================================================================== */
$navbar-brand-height-sm: 35px;
$navbar-brand-height-lg: 46px;

/* ==========================================================================
Body
========================================================================== */
$body-bg: $white;
$body-color: $theme-secondary;

/* ==========================================================================
Box shadow
========================================================================== */
$box-shadow-1: 0 2px 10px 0 rgba($black, 0.1);

/* ==========================================================================
Breadcrumb
========================================================================== */
$breadcrumb-active-color: $theme-secondary;
$breadcrumb-bg: transparent;
$breadcrumb-border-radius: 0;
$breadcrumb-divider-color: $theme-secondary;
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='9' height='13' viewBox='0 0 9 13'><path d='M344.222,126.483l8,6-8,6Z' transform='translate(-343.722 -125.983)' fill='#0f1223' stroke='#0f1223' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/></svg>");
$breadcrumb-font-size: 1rem;
$breadcrumb-item-padding: 0.625rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;

/* ==========================================================================
Fonts
========================================================================== */
$font-family-1: "Poppins", sans-serif;
$font-family-2: "Roboto", sans-serif;
$font-family-base: $font-family-1;

$font-size-base: 1rem; // 16px

$font-weight-bold: 700;
$font-weight-medium: 500;

/* ==========================================================================
Grid breakpoints
========================================================================== */
$grid-breakpoints: ();
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
  ),
  $grid-breakpoints
);

/* ==========================================================================
Grid containers
========================================================================== */
$container-max-widths: ();
$container-max-widths: map-merge(
  (
    xs: 480px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px,
  ),
  $container-max-widths
);

/* ==========================================================================
Grid column
========================================================================== */
$grid-gutter-width: 60px;

/* ==========================================================================
Hero
========================================================================== */
$hero-height: 750px;

/* ==========================================================================
Spacing
========================================================================== */
$spacer: 0.625rem;
$spacers: ();
/* stylelint-disable */
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,
    // 10px
    15:
      (
        $spacer * 1.5,
      ),
    // 15px
    2:
      (
        $spacer * 2,
      ),
    // 20px
    25:
      (
        $spacer * 2.5,
      ),
    // 25px
    3:
      (
        $spacer * 3,
      ),
    // 30px
    35:
      (
        $spacer * 3.5,
      ),
    // 35px
    4:
      (
        $spacer * 4,
      ),
    // 40px
    45:
      (
        $spacer * 4.5,
      ),
    // 45px
    5:
      (
        $spacer * 5,
      ),
    // 50px
    55:
      (
        $spacer * 5.5,
      ),
    // 55px
    6:
      (
        $spacer * 6,
      ),
    // 60px
    65:
      (
        $spacer * 6.5,
      ),
    // 65px
    7:
      (
        $spacer * 7,
      ),
    // 70px
    75:
      (
        $spacer * 7.5,
      ),
    // 75px
    8:
      (
        $spacer * 8,
      ),
    // 80px
    85:
      (
        $spacer * 8.5,
      ),
    // 85px
    9:
      (
        $spacer * 9,
      ),
    // 90px
    95:
      (
        $spacer * 9.5,
      ),
    // 95px
    10:
      (
        $spacer * 10,
      ),
    20: (
      $spacer * 20,
    ),
  ),
  $spacers
);
/* stylelint-enable */

/* ==========================================================================
Components
========================================================================== */
$border-width: 1px;
$border-color: $gray-300;

$border-radius: 0.25rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;

$border-radius-1: 1.25rem; // 20px
$border-radius-2: 0.625rem; // 10px

/* ==========================================================================
Z-index
========================================================================== */
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

/* ==========================================================================
Cards
========================================================================== */
$card-border-width: 0;
$card-border-radius: $border-radius-2;
$card-border-color: rgba($black, 0.125);
$card-bg: $white;
$card-img-overlay-padding: 1.25rem;

/* ==========================================================================
Form Validation
========================================================================== */
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;

$form-feedback-icon-valid-color: $form-feedback-valid-color;
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color: $form-feedback-invalid-color;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");

/* ==========================================================================
Hamburger
========================================================================== */
$hamburger-active-layer-color: $white;
$hamburger-hover-opacity: 1;
$hamburger-layer-border-radius: 0;
$hamburger-layer-color: $white;
$hamburger-layer-height-sm: 3px;
$hamburger-layer-width-sm: 30px;
$hamburger-layer-height-lg: 4px;
$hamburger-layer-width-lg: 38px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-types: (spin);

/* ==========================================================================
Inputs
========================================================================== */
$input-btn-padding-y: 0.9375rem; // 15px
$input-btn-padding-x: $spacer * 3; // 30px
$input-btn-padding-y-sm: $spacer; // 10px
$input-btn-padding-x-sm: $spacer * 2; // 20px
$input-btn-padding-y-lg: $spacer * 2; // 20px
$input-btn-padding-x-lg: $spacer * 4; // 40px

/* ==========================================================================
Buttons
========================================================================== */
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;

$btn-border-radius: $spacer;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

/* ==========================================================================
Dropdown
========================================================================== */
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-padding-x: 0;
$dropdown-padding-y: 0;
$dropdown-box-shadow: 0 0.5rem 1rem rgba($black, 0.175);
$dropdown-item-padding-y: $spacer;
$dropdown-item-padding-x: $spacer;

/* ==========================================================================
Transition
========================================================================== */
$transition-duration: 0.2s;
$transition-easing: ease-in-out;

/* ==========================================================================
Link
========================================================================== */
$link-transition: color $transition-duration $transition-easing;
