/* stylelint-disable */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* stylelint-enable */

.icomoon-list-icon-logo-dark {
  content: "\e900";
  color: $white;
}

.icomoon-list-icon-logo-light {
  content: "\e901";
}

.icomoon-list-icon-check-dark::before {
  content: "\e902";
  color: $white;
}

.icomoon-list-icon-check-light::before {
  content: "\e903";
}
