/* ==========================================================================
Html / Body
========================================================================== */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.page {
  margin-top: $navbar-height-sm;
}

@include media-breakpoint-up(lg) {
  .page {
    margin-top: $navbar-height-lg;
  }
}
