/* ==========================================================================
List Styles Dark / Light
========================================================================== */
/* stylelint-disable */
[class*="mode-dark"]:not([class*="breadcrumb"]),
[class*="mode-light"]:not([class*="breadcrumb"]) {
  ol {
    @extend .pl-0;

    list-style: none;

    li {
      @extend .d-flex;

      line-height: 2;

      &::before {
        @extend .icomoon, .pr-15;

        @include font-size(24);

        position: relative;
        top: -8px;
      }
    }
  }

  ul {
    @extend .pl-0;

    list-style: none;

    li {
      @extend .d-flex;

      line-height: 2;

      &::before {
        @extend .icomoon, .pr-15;

        @include font-size(16);

        position: relative;
        top: 1px;
      }
    }
  }
}

/* ==========================================================================
List Styles Dark
========================================================================== */
[class*="mode-dark"]:not([class*="breadcrumb"]) {
  ol {
    li {
      &::before {
        @extend .icomoon-list-icon-logo-dark;
      }
    }
  }

  ul {
    li {
      &::before {
        @extend .icomoon-list-icon-check-dark;
      }
    }
  }
}

/* ==========================================================================
List Styles Light
========================================================================== */
[class*="mode-light"]:not([class*="breadcrumb"]) {
  ol {
    li {
      &::before {
        @extend .icomoon-list-icon-logo-light;
      }
    }
  }

  ul {
    li {
      &::before {
        @extend .icomoon-list-icon-check-light;
      }
    }
  }
}
/* stylelint-enable */
