/* ==========================================================================
Typography
========================================================================== */
h1,
.h1 {
  @include font-size(30);

  line-height: 36px;

  @include media-breakpoint-up(xl) {
    @include font-size(42);

    line-height: 48px;
  }
}

h2,
.h2 {
  @include font-size(28);

  line-height: 36px;

  @include media-breakpoint-up(xl) {
    @include font-size(42);

    line-height: 48px;
  }
}

h3,
.h3 {
  @include font-size(22);

  line-height: 26px;
}

h4,
.h4 {
  @include font-size(20);

  line-height: 24px;
}

h5,
.h5 {
  @include font-size(18);

  line-height: 22px;
}

h6,
.h6 {
  @include font-size(16);

  line-height: 20px;
}

p {
  @extend .mb-0;

  @include font-size(16);

  line-height: 28px;
}

a {
  color: inherit;
}
