/* ==========================================================================
Dealer Map
========================================================================== */
.dealer__map {
  @extend .col-lg-7, .col-xl-8;

  > div:not(.alert) {
    height: 335px;
    position: relative !important;

    @include media-breakpoint-up(md) {
      height: 500px;
    }

    @include media-breakpoint-up(xl) {
      height: 700px;
    }
  }
}
