/* ==========================================================================
Dealer Form
========================================================================== */
.dealer__form {
  position: relative;

  .form-control {
    @extend .bg-gray-100, .col, .pl-5, .text-gray-600, .w-100;

    border-color: $gray-100;
    border-radius: $btn-border-radius;

    &::placeholder {
      @include font-size(14);
    }
  }
}

.dealer__form-icon {
  @extend .text-gray-600;

  @include font-size(18);

  left: $spacer * 1.5;
  position: absolute;
}
