/* ==========================================================================
Dealer Autocomplete
========================================================================== */
.dealer__autocomplete {
  @extend .bg-white, .w-100;

  border-radius: $btn-border-radius;
  box-shadow: $dropdown-box-shadow;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 60px; // Input height + 4px margin
  transition: opacity $transition-duration $transition-easing;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.dealer__autocomplete-item {
  @extend .px-2, .py-1;

  &.active {
    @extend .bg-gray-100;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  p {
    @extend .mb-0;
  }
}

.dealer__autocomplete-loader {
  @extend .text-theme-primary;

  @include font-size(18);

  opacity: 0;
  position: absolute;
  right: calc(#{$spacer} + #{$spacer} / 2);
  transition: opacity $transition-duration $transition-easing;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
