/* ==========================================================================
Dealer List
========================================================================== */
.dealer__list {
  @extend .mt-2;
}

.dealer__info {
  @extend .btn, .btn-link, .d-block, .mt-1, .p-0, .text-theme-primary;

  [class*="fa"] {
    @extend .mr-1;
  }
}

.dealer__item {
  @extend .d-flex, .py-2;

  border-top: 1px solid $gray-600;
  cursor: pointer;

  .media-body {
    @extend .pr-2;
  }

  &:hover {
    .dealer__info {
      @extend .text-theme-secondary;
    }
  }
}

.dealer__item-loader {
  @include font-size(24);

  [class*="fa"] {
    @extend .mx-auto;
  }
}

.dealer__city {
  @extend .mb-0;

  font-weight: $font-weight-bold;
}

.dealer__distance {
  font-weight: $font-weight-bold;

  [class*="fa"] {
    @extend .mr-1;
  }
}
