/* ==========================================================================
Dealer Sidebar
========================================================================== */
.dealer__sidebar {
  @extend .col-lg-5, .col-xl-4, .mt-2, .mt-lg-0;
}

.dealer__sidebar-title {
  @extend .mt-2, .text-gray-600;

  font-weight: $font-weight-bold;
}
