/* ==========================================================================
Card List
========================================================================== */
.card__list {
  .card {
    @extend .mb-6, .mb-lg-10;
  }
}

/* ==========================================================================
Card List
========================================================================== */

.card__list-title {
  @extend .mb-4;
}

/* ==========================================================================
Card List color (dark / light)
========================================================================== */
.card__list--mode-dark {
  background-color: $theme-secondary;

  .card-title,
  .card__content,
  .card__list-title {
    color: $white;
  }

  .card {
    background-color: transparent;
  }
}

.card__list--mode-light {
  background-color: $white;

  .card-title,
  .card__content,
  .card__list-title {
    color: $body-color;
  }
}
