/* ==========================================================================
Card Slider
========================================================================== */
.card__slider {
  .swiper-pagination-bullets {
    @extend .mt-6;

    bottom: 0;
    position: relative;
  }
}

/* ==========================================================================
Card Slider Title
========================================================================== */
.card__slider-title {
  @extend .mb-4;
}

/* ==========================================================================
Card Slider Color (dark / light)
========================================================================== */
.card__slider--mode-dark {
  background-color: $theme-secondary;

  .card-title,
  .card__content,
  .card__slider-title {
    color: $white;
  }

  .card {
    background-color: transparent;
  }

  .swiper-pagination-bullet {
    @extend .bg-theme-primary-light;
  }

  .swiper-pagination-bullet-active {
    @extend .bg-white;
  }
}

.card__slider--mode-light {
  background-color: $white;

  .card-title,
  .card__content,
  .card__slider-title {
    color: $body-color;
  }

  .swiper-pagination-bullet {
    @extend .bg-theme-primary;
  }

  .swiper-pagination-bullet-active {
    @extend .bg-theme-secondary;
  }
}

/* ==========================================================================
Card Slider Item
========================================================================== */
.card__slider-item {
  display: flex;
  flex-direction: column;
  height: auto;

  .card {
    @extend .p-0;

    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  @include media-breakpoint-only(xs) {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
