/* ==========================================================================
Contact
========================================================================== */
.contact {
  a {
    @include transition();

    color: $theme-secondary-dark;
    text-decoration: underline;

    &:focus,
    &:hover {
      color: $yellow;
    }
  }

  h2 {
    span {
      font-weight: $font-weight-normal;
    }
  }
}

/* ==========================================================================
Contact text
========================================================================== */
.contact__text {
  @extend .mb-6, .mb-xxl-10, .pb-xxl-2;
}

/* ==========================================================================
Contact form
========================================================================== */
.contact__form {
  @extend .px-15, .px-sm-3, .py-3;

  background-color: $theme-secondary;
  border-radius: $border-radius-1;
  color: $white;

  label {
    @include font-size(16);

    font-weight: $font-weight-bold;
    line-height: 25px;
    margin-bottom: $spacer / 2;
  }

  small {
    @extend .mt-0;

    @include font-size(14);

    color: rgba($white, 0.4);
    margin-bottom: $spacer / 2;
    line-height: 21px;
  }

  textarea {
    height: 300px !important;
    resize: none;
  }

  .form-control {
    @extend .py-1;

    background-color: rgba($white, 0.4);
    border-color: rgba($white, 0.4);
    border-radius: $border-radius-2;
    color: $white;
    height: 50px;

    &.is-invalid {
      border-color: $danger;
    }
  }

  .form-group {
    @extend .mb-3;

    p {
      span {
        @extend .d-block;
      }
    }
  }

  .errorMessage {
    @extend .mt-1, .text-danger;
  }
}

/* ==========================================================================
Contact form section title
========================================================================== */
.contact__form-section-title {
  @extend .mb-2, .mt-4, .pb-1;

  border-bottom: 1px solid $white;
}

/* ==========================================================================
Contact required
========================================================================== */
.contact__label {
  @extend .mt-1;

  color: rgba($white, 0.4);
}

/* ==========================================================================
Contact required
========================================================================== */
.contact__required {
  color: $theme-secondary-dark;
}

/* ==========================================================================
Contact button
========================================================================== */
.contact__button {
  text-align: right;
}

/* ==========================================================================
Contact list
========================================================================== */
.contact__list {
  @extend .mb-3, .mt-2, .mx-0, .p-0;

  list-style: none;

  li {
    @extend .d-flex, .mb-1;

    @include font-size(18);

    font-weight: $font-weight-bold;
    line-height: 24px;

    &::before {
      display: none;
    }

    &:last-child {
      @extend .mb-0;
    }
  }

  /* stylelint-disable */
  a {
    color: $theme-secondary;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $theme-primary;
      text-decoration: none;
    }
  }
  /* stylelint-enable */

  .svg-inline--fa {
    @extend .mr-1;

    position: relative;
    top: 2px;
  }
}
