/* ==========================================================================
Feature
========================================================================== */
.feature {
  overflow: hidden;
  position: relative;

  .container-fluid {
    @extend .px-0;
  }

  .col-image {
    position: relative;
    z-index: 1;
  }

  .col-text {
    position: relative;
    z-index: 2;
  }
}

@include media-breakpoint-only(xs) {
  .feature {
    .col-image {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
}

/* ==========================================================================
Feature image
========================================================================== */
.feature__image {
  position: relative;

  img {
    object-fit: cover;
    opacity: 15%;
  }
}

@include media-breakpoint-up(lg) {
  .feature__image {
    img {
      opacity: 30%;
    }
  }
}

/* ==========================================================================
Feature mask
========================================================================== */
.feature__mask {
  bottom: -2px; // fix to prevent svg not touching bottom of div
  overflow: hidden;
  position: absolute;
  top: -2px; // fix to prevent svg not touching top of div
  width: 125px;

  svg {
    @extend .h-100, .w-100;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@include media-breakpoint-up(lg) {
  .feature__mask {
    width: 220px; // original width of the svg

    svg {
      min-height: 750px; // original height of the svg
    }
  }
}

/* ==========================================================================
Feature text
========================================================================== */
.feature__text {
  @extend .mx-auto, .my-5, .px-25;

  h2 {
    @extend .h1;
  }
}

.feature--text-large {
  max-width: 800px;
}

.feature--text-small {
  max-width: 650px;
}

/* ==========================================================================
Feature align (left/right)
========================================================================== */
.feature--align-left {
  .col-image {
    @extend .order-1;
  }

  .col-text {
    @extend .order-2;
  }

  .feature__mask {
    right: 0;

    svg {
      transform: rotate(180deg) translateY(50%);
    }
  }
}

.feature--align-right {
  .col-image {
    @extend .order-2;
  }

  .col-text {
    @extend .order-1;
  }

  .feature__mask {
    right: 0;
  }
}

@include media-breakpoint-only(xs) {
  .feature--align-right {
    .feature__mask {
      right: 0;

      svg {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .feature--align-right {
    .feature__mask {
      left: 0;
    }
  }
}

/* ==========================================================================
Feature mode (primary/secondary)
========================================================================== */
.feature--mode-dark {
  background-color: $theme-secondary;
  color: $white;

  .feature__image {
    background-color: rgba($theme-primary, 0.3);
  }
}

.feature--mode-light {
  background-color: $white;

  .feature__image {
    background-color: $white;
  }

  .feature__mask {
    svg {
      path {
        fill: $white;
      }
    }
  }
}

/* ==========================================================================
Feature height (xl/xxl)
========================================================================== */
$feature-height-xl: 700px;
$feature-height-xxl: 100vh;

.feature--height-xl {
  .row {
    min-height: calc(#{$feature-height-xl} - #{$navbar-height-sm});
  }

  .feature__image {
    min-height: calc(#{$feature-height-xl} - #{$navbar-height-sm});

    img {
      min-height: calc(#{$feature-height-xl} - #{$navbar-height-sm});
    }
  }
}

@include media-breakpoint-up(lg) {
  .feature--mode-xl {
    .row {
      min-height: calc(#{$feature-height-xl} - #{$navbar-height-lg});
    }

    .feature__image {
      min-height: calc(#{$feature-height-xl} - #{$navbar-height-lg});

      img {
        min-height: calc(#{$feature-height-xl} - #{$navbar-height-lg});
      }
    }
  }
}

.feature--height-xxl {
  .row {
    min-height: calc(#{$feature-height-xxl} - #{$navbar-height-sm});
  }

  .feature__image {
    min-height: calc(#{$feature-height-xxl} - #{$navbar-height-sm});

    img {
      min-height: calc(#{$feature-height-xxl} - #{$navbar-height-sm});
    }
  }
}

@include media-breakpoint-up(lg) {
  .feature--mode-xxl {
    .row {
      min-height: calc(#{$feature-height-xxl} - #{$navbar-height-lg});
    }

    .feature__image {
      min-height: calc(#{$feature-height-xxl} - #{$navbar-height-lg});

      img {
        min-height: calc(#{$feature-height-xxl} - #{$navbar-height-lg});
      }
    }
  }
}
