/* ==========================================================================
Partner List
========================================================================== */
.partner__list {
  @extend .bg-gray-200;
}

/* ==========================================================================
Partner List Title
========================================================================== */
.partner__list-title {
  @extend .mb-4;
}

/* ==========================================================================
Partner List Item
========================================================================== */
.partner__list-item {
  img {
    @extend .w-100;

    object-fit: contain;
    object-position: center;
  }

  @include media-breakpoint-only(xs) {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
