/* ==========================================================================
Thank You Actions
========================================================================== */
.thankyou_actions {
  @extend .mt-3;
}

/* ==========================================================================
Thank You Block color (dark / light)
========================================================================== */
.thankyou--mode-dark {
  background-color: $theme-secondary;

  .thankyou__content {
    color: $white;
  }

  .card {
    background-color: transparent;
  }
}

.thankyou--mode-light {
  background-color: $white;

  .thankyou__content {
    color: $body-color;
  }
}
