/* ==========================================================================
Usps Slider
========================================================================== */
.usps-slider {
  @extend .w-100, .text-center;

  height: 40px;
}

.usps-slider__item {
  @extend .d-flex, .align-items-center, .justify-content-center;
}

.usps-slider__icon {
  @extend .mr-1;
}

.usps-slider__title {
  @include font-size(18);

  font-family: $font-family-2;
  font-weight: $font-weight-medium;
}

.usps-slider--mode-light {
  background-color: $white;
  color: $theme-primary;
}

.usps-slider--mode-dark {
  background-color: $theme-secondary;
  color: $white;
}
