/* ==========================================================================
Card Template Vertical
========================================================================== */
.card-template__vertical {
  .card__link {
    @extend .d-flex, .flex-column, .h-100;
  }
}

/* ==========================================================================
Card Template Horizontal Image Right
========================================================================== */
.card-template__horizontal-image-right {
  &.card-column__full {
    .card__link {
      @extend .flex-nowrap;
    }

    .card-img {
      @extend .order-2;
    }

    .card-body {
      @extend .order-1;
    }
  }
}

/* ==========================================================================
Card Template Horizontal Image Left / Right
========================================================================== */
.card-template__horizontal-image-left,
.card-template__horizontal-image-right {
  &.card-column__full {
    @include media-breakpoint-up(lg) {
      .card__link {
        flex-direction: row;
        margin-right: -30px;
        margin-left: -30px;
      }

      .card-img,
      .card-body {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 30px !important;
        padding-left: 30px !important;
        width: 100%;
      }

      .card-img {
        height: 100%;
      }
    }

    .card__link {
      @extend .d-lg-flex;
    }

    .card-body {
      @extend .pt-lg-0;
    }
  }
}
