/* ==========================================================================
Card
========================================================================== */
.card-img {
  @extend .d-flex, .justify-content-center;

  border-radius: 0;
  height: 250px;
  position: relative;

  img {
    @extend .h-100, .w-100;

    border-radius: $card-border-radius;
    object-fit: cover;
    object-position: center;
  }

  @include media-breakpoint-only(sm) {
    height: 200px;
  }
}

.card-body {
  @extend .d-flex, .flex-grow-1, .flex-column, .pb-0, .px-0;
}

.card-title {
  font-weight: $font-weight-bold;
}

.card-footer {
  @extend .p-0;

  background-color: transparent;

  .btn-group {
    @extend .flex-column;

    .btn {
      @extend .mr-0;
    }
  }
}

/* ==========================================================================
Card content
========================================================================== */
.card__content {
  flex: 1;
}

/* ==========================================================================
Card link
========================================================================== */
.card__link {
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

/* ==========================================================================
Card label
========================================================================== */
.card__label {
  @extend .btn;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
}

.card__label--theme-primary {
  @extend .btn-theme-primary;
}

.card__label--theme-secondary {
  @extend .btn-theme-secondary;
}
