/* ==========================================================================
Card Column
========================================================================== */
.card-column__third {
  @extend .col-md-6, .col-lg-4;
}

.card-column__half {
  @extend .col-md-6;

  .card-img {
    @include media-breakpoint-up(lg) {
      height: 300px;
    }

    @include media-breakpoint-up(xxl) {
      height: 350px;
    }
  }
}

.card-column__full {
  @extend .col-12;

  .card__link {
    @extend .align-items-center;
  }
}
