/* ==========================================================================
Breadcrumb mode light
========================================================================== */
.breadcrumb--mode-light {
  background-color: $white;

  .breadcrumb-link {
    &:focus,
    &:hover {
      color: rgba($theme-primary, 0.5);
    }
  }
}
