/* ==========================================================================
Breadcrumb mode dark
========================================================================== */
.breadcrumb--mode-dark {
  background-color: $theme-secondary;

  .breadcrumb-link {
    &:focus,
    &:hover {
      color: $yellow;
    }
  }

  .breadcrumb-item,
  .breadcrumb-item.active {
    color: $white;
  }

  .breadcrumb-item + .breadcrumb-item {
    &::before {
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='13' viewBox='0 0 9 13'%3e%3cpath d='M344.222,126.483l8,6-8,6Z' transform='translate%28-343.722 -125.983%29' fill='%23ffffff' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3e%3c/svg%3e");
    }
  }
}
