/* ==========================================================================
Breadcrumb container
========================================================================== */
.breadcrumb__container {
  @extend .d-none, .d-md-block;

  height: 50px;
}

/* ==========================================================================
Breadcrumb item
========================================================================== */
.breadcrumb-item {
  line-height: 50px;
}

.breadcrumb-item + .breadcrumb-item {
  &::before {
    position: relative;
    top: 1px;
  }
}

/* ==========================================================================
Breadcrumb link
========================================================================== */
.breadcrumb-link {
  @include transition();

  &:focus,
  &:hover {
    text-decoration: none;
  }
}
