/* ==========================================================================
Import Bootstrap Breakpoints
========================================================================== */
@import "../_variables";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

/* ==========================================================================
Debug
========================================================================== */
footer {
  &::after {
    background-color: $warning;
    bottom: 0;
    content: "XS: 320px - 575px";
    padding: 0.5rem 1rem;
    position: fixed;
    right: 0;
    z-index: $zindex-fixed;
  }
}

@include media-breakpoint-up(sm) {
  footer {
    &::after {
      content: "SM: 576px - 767px";
    }
  }
}

@include media-breakpoint-up(md) {
  footer {
    &::after {
      content: "MD: 768px - 991px";
    }
  }
}

@include media-breakpoint-up(lg) {
  footer {
    &::after {
      content: "LG: 992px - 1199px";
    }
  }
}

@include media-breakpoint-up(xl) {
  footer {
    &::after {
      content: "XL: 1200px - 1499px";
    }
  }
}

@include media-breakpoint-up(xxl) {
  footer {
    &::after {
      content: "XXL: 1500px and up";
    }
  }
}
