/* ==========================================================================
Button
========================================================================== */
.btn-yellow {
  background-color: $yellow;

  &:hover {
    background-color: $yellow-light;
    border-color: $yellow-light;
  }
}

.btn-outline-yellow {
  @extend .text-dark;
}

.btn-theme-primary {
  &:hover {
    background-color: $theme-primary-light;
    border-color: $theme-primary-light;
  }
}

.btn-outline-theme-secondary {
  &:hover {
    background-color: $gray-400;
    color: $theme-secondary;
  }
}

/* ==========================================================================
Button Group
========================================================================== */
.btn-group {
  .btn {
    @extend .mr-md-2, .mt-3;
  }

  > .btn:not(:first-child) {
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
  }

  > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: $btn-border-radius;
    border-bottom-right-radius: $btn-border-radius;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    width: 100%;
  }
}
