/* ==========================================================================
FAQ
========================================================================== */
.faq__content {
  @extend .mt-4;
}

.faq__question-item-header__icon {
  @extend .ml-1;

  @include font-size(30);
}

.faq__question-item-header {
  @extend .d-flex, .align-items-center, .justify-content-between;

  &[aria-expanded="false"],
  &.collapsed {
    .faq__question-item-header__icon {
      transform: rotate(180deg);
    }
  }
}
