/* ==========================================================================
Hamburger
========================================================================== */
.hamburger {
  @extend .d-lg-none;

  margin-top: -$hamburger-layer-height-sm;
  z-index: $zindex-fixed;

  &:focus {
    outline: 0;
  }
}

.hamburger-box {
  height: $hamburger-layer-height-sm;
  width: $hamburger-layer-width-sm;

  @include media-breakpoint-up(sm) {
    height: $hamburger-layer-height-lg;
    width: $hamburger-layer-width-lg;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  height: $hamburger-layer-height-sm;
  width: $hamburger-layer-width-sm;

  @include media-breakpoint-up(sm) {
    height: $hamburger-layer-height-lg;
    width: $hamburger-layer-width-lg;
  }
}
