/* ==========================================================================
Loader
========================================================================== */
.loader-wrapper {
  @extend .bg-theme-secondary,
    .d-flex,
    .align-items-center,
    .justify-content-center;

  bottom: 0;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-fixed;
}

.loader__icon {
  @extend .text-white;

  @include font-size(36);
}

.loader__logo {
  @extend .mt-2;
}
