/* ==========================================================================
Hero Form input
========================================================================== */
.hero__form-input {
  @extend .mt-2, .mb-1, .w-100;

  height: 56px;

  input {
    @extend .bg-yellow,
      .d-inline-block,
      .float-left,
      .text-dark,
      .border-0,
      .form-control,
      .text-uppercase;

    @include font-size(24);

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: $font-weight-bold !important;
    height: 56px !important;
    width: calc(100% - 56px) !important;

    &:focus {
      box-shadow: none !important;
    }
  }

  img {
    @extend .d-inline-block, .float-left;

    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    height: 56px;
    max-width: 56px;
    width: 56px;
  }
}

/* ==========================================================================
Hero Form buttons
========================================================================== */
//.hero__form-actions {}
.hero__form-button-1,
.hero__form-button-2 {
  @extend .btn, .btn-block;
}

.hero__form-button-1 {
  @extend .btn-theme-primary;
}

.hero__form-button-2 {
  @extend .btn-outline-theme-secondary;
}
