/* ==========================================================================
Navbar
========================================================================== */
.navbar {
  @extend .fixed-top, .px-15, .py-0;

  background-color: $theme-primary;
  height: $navbar-height-sm;

  .container {
    @extend .px-0;

    max-width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    height: $navbar-height-lg;

    .dropdown:hover > .dropdown-menu {
      display: block;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .navbar {
    .container {
      max-width: 1640px;
    }
  }
}

/* ==========================================================================
Navbar actions
========================================================================== */
.navbar__actions {
  @extend .align-items-center, .d-flex, .ml-auto;
}

/* ==========================================================================
Navbar partner / phone
========================================================================== */
.navbar__partner,
.navbar__phone {
  @extend .d-none, .d-lg-block;

  a {
    @extend .d-block, .py-2;

    @include transition();

    color: $white;
    line-height: 30px;
    text-align: center;
    width: 25px;

    &:focus,
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }

  span {
    @extend .d-none, .d-xxl-inline-block;
  }
}

.navbar__phone {
  .svg-inline--fa {
    @extend .mr-xxl-1;
  }
}

.navbar__partner {
  .svg-inline--fa {
    @extend .ml-xxl-1;
  }
}

@include media-breakpoint-up(xxl) {
  .navbar__partner,
  .navbar__phone {
    a {
      width: auto;
    }
  }
}

/* ==========================================================================
Navbar price
========================================================================== */
.navbar__price {
  @extend .ml-lg-1, .ml-xl-2, .mr-2, .mr-lg-1, .mr-xl-2;

  .btn {
    @extend .px-15, .px-lg-1, .px-xl-2;
  }
}

@include media-breakpoint-down(md) {
  .navbar__price {
    .btn {
      @include font-size(14);

      font-weight: $font-weight-bold;
    }
  }
}

@media only screen and (max-width: 320px) {
  .navbar__price {
    .btn {
      @include font-size(10);
    }
  }
}
