/* ==========================================================================
Navbar
========================================================================== */
.navbar {
  /* ==========================================================================
  Dropdown menu
  ========================================================================== */
  .dropdown-menu {
    @extend .m-0;

    background-color: transparent;
  }

  @include media-breakpoint-up(lg) {
    .dropdown-menu {
      background-color: $white;
      box-shadow: $dropdown-box-shadow;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* ==========================================================================
  Dropdown item
  ========================================================================== */
  .dropdown-item {
    @extend .px-5, .px-lg-3, .py-1, .text-lg-center;

    @include font-size(18);
    @include transition();

    background-color: transparent !important;
    color: $white;
    line-height: 30px;

    &:hover {
      background-color: $gray-100;
      color: $yellow;
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: $white;
    text-decoration: none;
    font-weight: $font-weight-bold;
    background-color: $theme-primary;
  }

  @include media-breakpoint-up(lg) {
    .dropdown-item {
      @include font-size(16);

      color: $theme-secondary;

      &:hover {
        background-color: $gray-100 !important;
        color: $theme-secondary;
      }

      &.active,
      &:active {
        color: $theme-secondary;
        font-weight: $font-weight-bold;
      }
    }
  }

  /* ==========================================================================
  Dropdown toggle
  ========================================================================== */
  .dropdown-toggle::after {
    position: relative;
    top: 1px;
    transition: all $transition-duration $transition-easing;
  }
  /* stylelint-disable */
  .dropdown.show .dropdown-toggle {
    &::after {
      transform: rotate(180deg);
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-item.dropdown:hover .dropdown-toggle,
    .dropdown-toggle:hover {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  /* stylelint-enable */
}
