/* ==========================================================================
Navbar Brand
========================================================================== */
.navbar-brand {
  @extend .p-0;

  height: $navbar-brand-height-sm;

  img {
    @extend .h-100;
  }
}

@include media-breakpoint-up(xl) {
  .navbar-brand {
    height: $navbar-brand-height-lg;
  }
}

@media only screen and (max-width: 320px) {
  .navbar-brand {
    height: 30px;
  }
}
