/* ==========================================================================
Navbar Collapse
========================================================================== */
.navbar-collapse {
  background-color: $theme-primary;
}

@include media-breakpoint-down(md) {
  .navbar-collapse {
    background-color: $theme-secondary;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: $navbar-height-sm;
    transform: translateX(100%);
    transition: all $transition-duration $transition-easing;
    visibility: hidden;

    &.is-active {
      transform: translateX(0);
      visibility: visible;
    }
  }
}
