/* ==========================================================================
Navbar nav
========================================================================== */
.navbar-nav {
  @extend .align-items-lg-center, .ml-auto, .mr-xxl-2, .py-3, .py-lg-0;

  background-color: transparent;
}

/* ==========================================================================
Navbar link
========================================================================== */
.nav-link {
  @extend .px-2, .px-lg-1, .px-xxl-2, .py-1, .py-lg-2;

  @include font-size(20);
  @include transition();

  color: $white;
  line-height: 30px;

  &:focus,
  &:hover {
    color: $yellow;
  }
}

@include media-breakpoint-up(lg) {
  .nav-link {
    @include font-size(14);
  }
}

@include media-breakpoint-up(xl) {
  .nav-link {
    @include font-size(16);
  }
}

/* ==========================================================================
Navbar item
========================================================================== */
.nav-item {
  @include font-size(20);

  a {
    &.active {
      font-weight: $font-weight-bold;
    }
  }

  &.dropdown {
    &:hover {
      .nav-link {
        color: $yellow;
      }
    }
  }
}

/* ==========================================================================
nav-btn__partner
========================================================================== */
.nav-btn__partner {
  @extend .d-lg-none, .mx-2, .mt-3;
}
